<div class="nav-container">
        <div class="nav-price">DASH/USD <div id="dash-price" style="display:inline-block;">{{site.data.app.dash.dashusd}}</div> <a href="#dash-updated-anchor">*</a></div>
        <div class="top-nav">
                <a href="{{site.baseurl}}/" class="top-nav-border">Rewards</a>
                <a href="{{site.baseurl}}/output" class="top-nav-border">Output</a>
                <a href="{{site.baseurl}}/rules" class="top-nav-border">Rules</a>
                <a href="{{site.baseurl}}/blog">Blog</a></div>
        <div class="nav-corner">
                <a href="https://github.com/dashincubator" target="_blank"><img src="{{site.baseurl}}/assets/image/github-1.svg" alt="Dash Incubator on GitHub"></a>
                <a href="https://twitter.com/dashincubator" target="_blank"><img src="{{site.baseurl}}/assets/image/twitter.svg" alt="Dash Incubator on Twitter"></a>
                <a href="http://chat.dashdevs.org" target="_blank"><img src="{{site.baseurl}}/assets/image/discord.svg" alt="Chat on the Dash Dev Discord"></a>
                <a href="http://dash.org" target="_blank"><img src="{{site.baseurl}}/assets/image/white-d.svg" alt="More about Dash"></a>
        </div>
        <a href="{{site.baseurl}}/"><img class="nav-logo" src="{{site.baseurl}}/assets/image/logo.png" alt="incubator logo"></a>
</div>