<div class="footer">
    <div>
        <a href="https://github.com/dashincubator/dash-incubator-app">website source</a> | 
        <a href="{{ site.baseurl }}/sitemap.xml">sitemap</a> | 
        <a href="{{ site.baseurl }}/admin">admin</a>
    </div>
    <div><a id="dash-updated-anchor"></a><div style="display:inline-block;">* DASH price updated</div> <div id="dash-updated">{{site.data.app.dash.updated}}</div></div>
    <div>US Dollar conversions are approximate. Rewards are paid in DASH. See <a href="{{site.baseurl}}/rules" class="top-nav-border">Rules</a></div>
</div>
